/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  background-color: #242424;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  position: relative; /* Necessary for positioning elements inside it */
}

.background-image {
  width: 100%;
  height: auto;
}

.main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.menu-container {
  position: absolute;
  top: 3.1%;
  left: 68.0%;
  transform: translate(-50%, -50%);
}

ul.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure items start from top-left */
  position: absolute; /* Ensure the ul is absolutely positioned */
  top: 0;
  left: 0;
}

li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; /* Changed from default to pointer */
  display: flex;
  align-items: center; /* Ensure image is centered within the button */
}

.menu-icon {
  height: auto;
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width: 768px) {


}

@media (max-width: 480px) {

}
